.App {
  text-align: center;
}

.App-content {
  margin-left: 10%;
  margin-right: 10%;
}

.App-post-headline a {
  text-decoration: inherit;
  color: inherit;
}

.App-footer {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
